/* Marcos Rosa
April 2019*/

@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quattrocento Sans', sans-serif;
}

html{
    background-color: #EEE;
}


/* HEADER */
.top{
    border-bottom: 2px solid grey;
}
.head{
    text-align: left;
    margin-left: 20vw;
}

.head > h1{
    color: #2F4152;
    font-size: 4rem;
}

.head > h3{
    color: #2F4152;
}

.navbar{
    margin: 5vh 20vw 10vh 0vw;
    padding: 1rem;
    background-color: #2F4152;
    border-radius: 15px;
    font-size: 1.4rem;
    text-align: center;
}

.navitem{
    color: #EEE;
    text-decoration: none;
    border-left: 2px solid #EEE;
    padding: 0 1rem;
    margin: 1rem 0;
}

.navitem:first-child{
    border: none;
}

.navitem:hover{
    color: #3699DC;
    text-shadow: 0.3px 0.3px black;
}


/* ABOUT ME */
.about{
    background-color: white;
    display: grid;
    grid-template-areas:"left top top" 
                        "bleft right right";
    grid-template-columns: 0.5fr, 2fr;
}

.topic{
    grid-area: left;
    background-color: #2F4152;
    color: white;
    transform: skew(-20deg);
    margin: 2vh 15vw 2vh 0vw;
    text-align: center;
    line-height: 2rem;
    margin-left: 1vw;
}

.topic > h3{
    transform: skew(20deg);
}

.contactInfo{
    grid-area: bleft;
    margin:auto;
    text-align: justify;
    line-height: 2rem;
    display: grid;
    grid-template-columns: "left right";
}

.contactInfo > section > p,
.contactInfo > section > a{
    display: inline-block;
    vertical-align: top;
}

.about > .aboutTop{
    grid-area: top;
    margin-top: 4vh;
    height: 5px;
    border-top: 2px solid #3699DC;
}

.aboutr{
    grid-area: right;
}

.aboutr > img{
    float: left;
    border-right: 2px solid #3699DC;
    padding: 0.1rem;
    width: 100px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.aboutr > p{
    margin-top: 2rem;
    text-align: justify;
    max-width: 850px;
    line-height: 1.5rem;
}


/* SKILLS */
.skills{
    display: grid;
    grid-template-areas: "topL tops tops"
                         "bottom bottom bottom";
    background-color: white;
    padding-bottom: 4vh;
}

.skills > .skillsTop{
    grid-area: tops;
    margin-top: 4vh;
    height: 5px;
    border-top: 2px solid #3699DC;
    margin-left: -48vw;
}


.skills > .skillsList{
    display: grid;
    grid-template-areas: "left leftS centerS rightS";
    padding: 2rem 5rem;
}

.skills > .topic{
    grid-area: topL;
    margin-right: 60vw;
}

.skills > .skillsList > .skillsL{
    grid-area: leftS;
    list-style: none;
}

.skills > .skillsList > .skillsC{
    grid-area: centerS;
    list-style: none;
}

.skills > .skillsList > .skillsR{
    grid-area: rightS;
    list-style: none;
}


/* EXPERIENCE  & EDUCATION*/
.experience,
.education{
    background-color: #2F4152;
    color: white;
    padding-top: 4vh;
    padding-bottom: 4vh;
    display: grid;
    grid-template-areas: "topleft top top"
                         "bottom bottom right";
}

.experienceTop,
.educationTop{
    grid-area: top;
    margin-top: 4vh;
    border-top: 2px solid #3699DC;
    margin-left: -50vw;
}

.experience > .topic,
.education > .topic{
    grid-area: topleft;
    background-color: #3699DC;
    margin-bottom: 2vh;
    margin-right: 60vw;
    width: 200px;
}


.experience > ul,
.education > ul{
    grid-area: bottom;
    margin-left: 20vh;
}

.experience > ul > li,
.education > ul > li{
    margin-top: 5vh;
    display: grid;
    grid-template-areas: "position time right"
                         "list list right"
                         "list list right";
    grid-template-columns: 2fr 2fr 0fr ;
}

.experience > ul > li > .title,
.education > ul > li > .title{
    font-size: 1.3rem;
}

.experience > ul > li :first-child,
.education > ul > li :first-child{
    grid-area: position;
    margin-top: 10px;
}

.experience > ul > li > .time,
.education > ul > li > .time{
    grid-area: time;
    text-align: left;
    background-color: #3699DC;
    border-radius: 5px;
    max-width: 100px;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
}

.experience > ul > li > ul,
.education > ul > li > ul{
    grid-area: list;
    margin-left: 5vw;
    margin-top: 1vh;
    line-height: 1.5rem;
} 


/*PORTFOLIO*/
.portfolio{
    background-color: white; 
    display: grid;
    grid-template-areas: "left top top"
                         "bottom bottom bottom";
    padding-top: 4vh;
}

.portfolio > .topic{
    grid-area: left;
    margin-right: 60vw;
}

.portfolioTop{
    grid-area: top;
    margin-top: 4vh;
    border-top: 2px solid #3699DC;
    margin-left: -50vw;
}


.portfolio > .cards{
    grid-area: bottom;
    list-style: none;
}

.portfolio > .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio > .cards > li > div{
    background-color: #EEE;
    color: #2F4152;
    box-shadow: 1px 1px 4px #3699DC;

    margin: 2rem;
    width: 600px;
    height: 250px;
    padding: 1rem;
    border-radius: 15px;

    display: grid;
    grid-template-areas: "image sitename"
                         "image description"
                         "image platform"
                         "image link";
}

.portfolio > .cards > li > div > img{
    grid-area: image;
    margin: auto;
    margin-right: 1rem;
    max-width: 300px;
    max-height: 250px;
}

.portfolio > .cards > li > div > .name{
    grid-area: sitename;
}

.portfolio > .cards > li > div > .description{
    grid-area: description;
}

.portfolio > .cards > li >  div > .platform{
    grid-area: platform;
}

.portfolio > .cards > li >  div > .link{
    grid-area: link;
}



/* FOOTER */
.footer{
    background-color: #2F4152; 
    color: white;
    padding-top: 4vh;
    padding-bottom: 4vh;
    border-top: 10px solid grey;

    display: grid;
    grid-template-areas:  "left top top top right" 
                          "left social tech contact right"
                          "left bottom bottom bottom right";
    grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
}

.footer > ul {
    line-height: 1.5rem;
    list-style: none;
}

.footer > ul > h2{
    margin-top: 10px;
    margin-bottom: 10px;
} 

.footer > ul > img,
.footer > ul > a > img{
    max-width: 30px;
}

.footer > ul > li{
    font-size: 0.85rem;
}

.footer > .social{
    grid-area: social;
}

.footer > .tech{
    grid-area: tech;
}

.footer > .contact{
    grid-area: contact;
}



/* SKILL PROGRESS BAR*/
.progressbar {
    background-color: #EEE;
    border-radius: 13px;
    padding: 3px;
    width: 100px;
    margin-bottom: 0.8rem;
}
  
.progressbar > div {
    background-color: #3699DC;
    height: 20px;
    border-radius: 10px;
}

